name: Update AUR Package

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  update-pkgbuild:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Get Latest Release
        id: get_release
        uses: dawidd6/action-get-latest-release@v2
        with:
          repository: C0D3D3V/Moodle-DL

      - name: Update PKGBUILD
        run: |
          latest_version=${{ steps.get_release.outputs.tag_name }}
          sed -i "s/pkgver=.*/pkgver=${latest_version#v}/" PKGBUILD
          updpkgsums

      - name: Commit and Push
        env:
          SSH_PRIVATE_KEY: ${{ secrets.AUR_SSH_KEY }}
        run: |
          git config --global user.name "Max Ebert"
          git config --global user.email "Pesticide3902@proton.me"
          git add PKGBUILD .SRCINFO
          git commit -m "Update to version ${{ steps.get_release.outputs.tag_name }}"
          git push
